<div class="artist-card">
  <div class="img-container">
    <img src="{{this.images.0.url}}" alt="{{this.name}}" />
  </div>
  <div class="text-container">
    <h2>{{this.name}}</h2>
    <a href="/albums/{{this.id}}">View {{buttonName}}</a>
  </div>
</div>